body{
    background-image: url(assets/pattern.jpg);
}
header {
    background-color: white;
    position: fixed;
    top: 0;
    margin-left: -8px;
    width: 100%;
    justify-content: space-between;
}

nav{
    display: inline-block;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
}

nav a {
float: left;
display: block;
margin-top: -10px;
padding-left: 10px;
padding-right: 10px;
color: black;
text-align: center;
list-style-type: none;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

section{
    border-bottom: 10px black;
    background-color: white;
    margin: 80px;
    padding: 10px;

}

section h1{
    text-align: center;
}

a{
    text-decoration: none;
}

.a:link{
    text-decoration: none;
}

h3{
    margin-bottom: 25px;
    text-decoration: none;
}

article{
    margin: 10px;
    margin-bottom: 10px;
}
p{
    border-bottom: 2px solid black;
}
footer{
    margin-top: -50px;
    background-color: black;
    text-align: center;
    padding: 1px;
}

footer h5{
    color: white;
}